<ion-view title="PROMO">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="list card">

      <div class="item item-text-wrap">
        {{ promotion.details.description.short }}
      </div>

      <div class="item item-text-wrap">
        {{ promotion.details.description.long }}
        <br/>
        {{ promotion.details.price | centsToMoney | currency }}
      </div>


      <div class="item item-text-wrap" data-ng-show="isSelectionValid.success" style="background:limegreen">
        <i class="ion-android-checkmark"></i>
        Listo! Da click en "Seleccionar" para agregar la promo al carrito!
      </div>

      <div class="item item-text-wrap" data-ng-show="!isSelectionValid.success" style="background:indianred">
        Te falta agregar {{ isSelectionValid.details[0].qtyDiff }} {{isSelectionValid.details[0].rule.properties.cat}}
        <!--<pre>{{ isSelectionValid | json }}</pre>-->
      </div>

      <div class="item item-body">

        <bebidas bindonce data-ng-model="promotion.components.BEBIDA" data-nodetails="true" validationrules="isPromoValid"></bebidas>
        <empanadas bindonce data-ng-model="promotion.components.EMPANADA" data-nodetails="true" validationrules="isPromoValid"></empanadas>
        <pizzas bindonce data-ng-model="promotion.components.PIZZA" data-nodetails="true" validationrules="isPromoValid"></pizzas>

        <div class="button-bar">
          <a class="button"
             data-ng-click="choose(promotion)"
             data-ng-disabled="!isSelectionValid.success">Seleccionar</a>
        </div>

      </div>

    </div>

  </ion-content>

</ion-view>