<ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
        <button
                class="button button-icon icon ion-minus-circled"
                data-ng-show="cart.products.length > 0"
                data-ng-click="showDelete = !showDelete; showEdit = false"
                data-test-cart-button-remove>
        </button>
    </div>

    <h1 class="title">
      Mi Pedido
      <span data-ng-if="cart.products.length > 0">({{ cart.totalPrice()  | centsToMoney | currency }})</span>
    </h1>

    <div class="buttons">
        <button
                class="button"
                data-ng-show="cart.products.length > 0"
                data-ng-click="showEdit = !showEdit; showDelete = false"
                data-test-cart-button-edit>
          Editar
        </button>
    </div>
</ion-header-bar>

<ion-content>
    <div class="card" data-ng-if="cart.products.length == 0">
        <div class="item item-text-wrap">
            El carrito esta vacio
        </div>
    </div>

    <ion-list show-delete="showDelete">
        <ion-item nav-clear data-ng-repeat="item in cart.products | orderBy:'+cat'">
          <div style="white-space: normal">{{item.cat}} {{item.description()}} - Cant. {{item.qty}}</div>
          {{item.totalPrice * item.qty | centsToMoney | currency}}

          <button
                  class="button button-light"
                  data-ng-click="$parent.edit(item)"
                  data-ng-show="showEdit">
            Editar
          </button>

          <ion-delete-button class="ion-minus-circled" data-ng-click="$parent.remove(item.cartItemKey)"> </ion-delete-button>

        </ion-item>

    </ion-list>

    <checkout-button></checkout-button>
</ion-content>