<div class="item item-divider" data-ng-show="cart.products.length > 0">
    <button
            class="button button-icon icon ion-minus-circled"
            data-ng-click="showDelete = !showDelete; showEdit = false">
    </button>
    <a class="button button-clear button-positive" href="#/app/menu">
        Agregar otro...
    </a>
    <button
            class="button"
            style="float: right"

            data-ng-click="showEdit = !showEdit; showDelete = false">
        Editar
    </button>
</div>

  <div class="card" data-ng-if="cart.products.length == 0">
    <div class="item item-text-wrap">
      El carrito esta vacio
    </div>
  </div>


  <ion-list show-delete="showDelete">
    <ion-item nav-clear data-ng-repeat="item in cart.products track by $index | orderBy:'+cat'">
      <div style="white-space: normal">{{item.cat}} {{item.getDescription()}}</div>
      <div>Cantidad: {{item.qty}}
          <qty ng-model="item" min="1" data-ng-show="showEdit" style="font: 0.5em;"></qty>
      </div>
      <div>Precio: {{item.totalPrice * item.qty | centsToMoney | currency}}</div>
      <button
              class="button button-light"
              data-ng-click="$parent.edit(item)"
              data-ng-show="showEdit && item.isEditable()">
        Editar Opciones
      </button>

      <ion-delete-button class="ion-minus-circled" data-ng-click="$parent.remove(item.cartItemKey)"> </ion-delete-button>

    </ion-item>

    <div data-ng-if="cart.products.length > 0" class="item item-divider" style="text-align: right">
        Total {{ cart.totalPrice()  | centsToMoney | currency }}
    </div>

   <ion-item data-ng-if="cart.products.length > 0"></ion-item>

  </ion-list>

  <button class="button button-block button-positive"
          data-ng-if="cart.products.length > 0"
          data-ng-click="checkout()">Realizar Pedido</button>