    <div class="card" data-ng-if="cart.products.length == 0">
        <div class="item item-text-wrap">
            El carrito esta vacio
        </div>
    </div>

    <ion-list>
        <ion-item nav-clear data-ng-repeat="item in cart.products | orderBy:'+cat'">
          <div style="white-space: normal">{{item.qty}} x {{item.description()}}</div>
          {{item.totalPrice * item.qty | centsToMoney | currency}}

          <button class="button button-light" data-ng-click="$parent.edit(item)">Editar</button>
        </ion-item>

        <ion-item  data-ng-if="cart.products.length > 0">
           Total: {{ cart.totalPrice()  | centsToMoney | currency }}
        </ion-item>

    </ion-list>