<div class="list">

    <form name="contactDetailsForm" novalidate >

        <div class="list list-inset">
            <div class="item item-divider">Contacto</div>

            <label class="item item-input"
                   data-ng-class="(contactDetailsForm.name.$invalid )? 'ng-invalid' : 'ng-valid'">
                <input type="text" placeholder="Nombre"
                       data-ng-required="true"
                       data-ng-model="contact.name"
                       name="name">
                <i class="icon ion-alert-circled error"
                   data-ng-if="contactDetailsForm.name.$invalid"></i>
                <i class="icon ion-checkmark-circled success"
                   data-ng-if="contactDetailsForm.name.$valid"></i>
            </label>

            <label class="item item-input"
                    data-ng-class="(contactDetailsForm.tel.$invalid)? 'ng-invalid' : 'ng-valid'">
                <input type="tel" placeholder="Telefono"
                       data-ng-required="true"
                       data-ng-model="contact.phone"
                       name="tel">
                <i class="icon ion-alert-circled error"
                   data-ng-if="contactDetailsForm.tel.$invalid"></i>
                <i class="icon ion-checkmark-circled success"
                   data-ng-if="contactDetailsForm.tel.$valid"></i>
            </label>

            <label class="item item-input"
                   data-ng-class="(contactDetailsForm.email.$invalid)? 'ng-invalid' : 'ng-valid'">
                <input type="email" placeholder="Email"
                       data-ng-required="true"
                       data-ng-model="contact.email"
                       name="email">
                <i class="icon ion-alert-circled error"
                   data-ng-if="contactDetailsForm.email.$invalid"></i>
                <i class="icon ion-checkmark-circled success"
                   data-ng-if="contactDetailsForm.email.$valid"></i>
            </label>

            <!-- DELIVERY TO HOME REQUIRED DATA-->
            <div data-ng-if="deliveryOption == 'delivery'">

                <label class="item item-input"
                       data-ng-class="(contactDetailsForm.street.$invalid)? 'ng-invalid' : 'ng-valid'">
                    <input type="text" placeholder="Calle"
                           data-ng-required="deliveryOption == 'delivery'"
                           data-ng-model="contact.address.street"
                           name="street">
                    <i class="icon ion-alert-circled error"
                       data-ng-if="contactDetailsForm.street.$invalid"></i>
                    <i class="icon ion-checkmark-circled success"
                       data-ng-if="contactDetailsForm.street.$valid"></i>
                </label>

                <label class="item item-input"
                       data-ng-class="(contactDetailsForm.door.$invalid)? 'ng-invalid' : 'ng-valid'">
                    <input type="number" placeholder="Numero"
                           data-ng-required="deliveryOption == 'delivery'"
                           data-ng-model="contact.address.door"
                           name="door">
                    <i class="icon ion-alert-circled error"
                       data-ng-if="contactDetailsForm.door.$invalid"></i>
                    <i class="icon ion-checkmark-circled success"
                       data-ng-if="contactDetailsForm.door.$valid"></i>
                </label>

                <label class="item item-input"
                       data-ng-class="(contactDetailsForm.area.$invalid)? 'ng-invalid' : 'ng-valid'">
                    <input type="text" placeholder="Localidad"
                           data-ng-required="deliveryOption == 'delivery'"
                           data-ng-model="contact.address.area"
                           name="area">
                    <i class="icon ion-alert-circled error"
                       data-ng-if="contactDetailsForm.area.$invalid"></i>
                    <i class="icon ion-checkmark-circled success"
                       data-ng-if="contactDetailsForm.area.$valid"></i>
                </label>
                <label class="item item-input">
                    <textarea placeholder="Comentarios"
                              data-ng-model="contact.address.comments"
                              data-ng-maxlength="200"
                              name="comments"></textarea>
                </label>

            </div>
            <!-- DELIVERY TO HOME REQUIRED DATA-->
        </div>

        <button class="button button-block button-positive"
                data-ng-click="continue()"
                data-ng-disabled="contactDetailsForm.$invalid">
            Enviar Pedido
        </button>

    </form>

</div>