<ion-view title="Locales">

    <ion-content class="has-header">

        <ion-list data-ng-controller="StoresCtrl">
            <ion-item ng-repeat="store in stores" data-ng-click="continue(store)">
                <i class="icon icon-home"></i>
                <strong>{{store.name}}</strong>
                <br>
                {{ store.address }}
                <br>
                {{ store.tel }}
                <br>
                <br>
                Monto minimo:
                  pickup: {{ store.order.minPrice.pickup | centsToMoney | currency }}
                  delivery: {{ store.order.minPrice.delivery | centsToMoney | currency }}
                <br>
                <div>Abierto {{store.isOpenRightNow()}}</div>
                <div ng-repeat="day in store.displayDays" ng-class="{todayHours:$index == store.dayOfTheWeek}">
                    {{day}}
                    <span ng-repeat="range in store.displayHours[day]"
                          ng-show="store.displayHours[day]">
                        {{range[0]}} a {{range[1]}}
                    </span>
                    <span ng-show="store.displayHours[day].length < 1">Cerrado</span>
                </div>

            </ion-item>
        </ion-list>


    </ion-content>

</ion-view>