<ion-view title="Locales">

    <ion-content class="has-header">

        <ion-list data-ng-controller="StoresCtrl">
            <ion-item ng-repeat="store in stores" data-ng-click="continue(store)">
                <i class="icon icon-home"></i>
                <strong>{{store.name}}</strong>
                <br>
                {{ store.address }}
                <br>
                {{ store.tel }}
                <br>
                Today open? {{ store.hours.openInfo.isOpen }} - day: {{ store.hours.openInfo.day }}


                <div data-ng-if="store.hours.openInfo.day == -1" data-ng-repeat="dayHours in store.hours.byDay" data-ng-class="{todayHours: dayHours.today}">
                  {{ dayHours.day }}: {{dayHours.displayHours}}
                </div>

                <div data-ng-if="store.hours.openInfo.day != -1" data-ng-repeat="dayHours in store.hours.byDay" data-ng-class="{todayHours:$index == store.hours.openInfo.day}">
                  {{ dayHours.day }}: {{dayHours.displayHours}}
                </div>
            </ion-item>
        </ion-list>


    </ion-content>

</ion-view>