<ion-view title="Locales">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">

        <ion-list data-ng-controller="StoresCtrl">
            <ion-item ng-show="stores.length == 0 && deliveryOption == 'pickup'">No hay locales para {{deliveryOption}} en este momento</ion-item>
            <ion-item ng-show="stores.length == 0 && deliveryOption == 'delivery'">No hay locales dentro su area para {{deliveryOption}} en este momento</ion-item>
            <ion-item ng-repeat="store in stores">
                <i class="icon icon-home"></i>
                <strong>{{store.name}}</strong>
                <br>
                {{ store.address.street}} {{store.address.door}} - {{store.address.hood}} ( {{ store.address.area}} )

                <br>
                {{store.tel.main}} / {{store.tel.other}} / {{store.tel.cel}}
                <br>
                <br>
                Monto minimo:
                  pickup: {{ store.order.minPrice.pickup | centsToMoney | currency }}
                  delivery: {{ store.order.minPrice.delivery | centsToMoney | currency }}
                <br>

                <button class="button button-balanced"
                        data-ng-show="store.hoursInfo.isOpen"
                        data-ng-click="continue(store)">
                  SELECCIONAR
                </button>

                <div data-ng-if="!store.hoursInfo.isOpen">CERRADO</div>

                <div data-ng-if="store.hoursInfo.timeToOpen">Abre en {{ store.hoursInfo.timeToOpen }} minutos</div>
                <div data-ng-if="store.hoursInfo.timeToClose">Cierra en {{ store.hoursInfo.timeToClose }} minutos</div>

                <br>
                <br>

                <div ng-repeat="day in store.hoursInfo.displayDays" ng-class="{todayHours:$index == store.hoursInfo.todayDayOfWeek}">
                    {{day}}
                    <span ng-repeat="range in store.hoursInfo.displayHours[day]"
                          ng-show="store.hoursInfo.displayHours[day]">
                        {{range[0]}} a {{range[1]}}
                    </span>
                    <span ng-show="store.hoursInfo.displayHours[day].length < 1">Cerrado</span>
                </div>

            </ion-item>
        </ion-list>


    </ion-content>

</ion-view>