        <div class="list card">
            <div class="item item-avatar">
                <p>{{ productSelected.description }}</p>
                <p>{{ productSelected.details }}</p>
                <p>PRECIO BASE: {{ productSelected.price.base | centsToMoney | currency }}</p>
                <p>PRECIO ACTUALIZADO: {{ productTotalPrice | centsToMoney | currency }} </p>
            </div>

            <div class="item item-avatar">
              <p>CANTIDAD</p>
              <p>PLACEHOLDER PARA QTY DIRECTIVE</p>

            </div>

            <div class="item item-body">

              <div data-ng-repeat="option in productSelected.options track by $index">

                Seleccione {{ option.description }}:
                <span data-ng-if="!(option.config.min == 1 && option.config.max == 1)">(maximo {{ option.config.max }})</span>

                <div data-ng-show="!option.selectionValid.status">
                  <span data-ng-show="option.selectionValid.error == 'OPTION_ERROR_NO_SELECTION'">Debe seleccionar una opcion</span>
                  <span data-ng-show="option.selectionValid.error == 'OPTION_ERROR_MAX'">Debe seleccionar como maximo {{option.selectionValid.params.max}} opciones</span>
                  <span data-ng-show="option.selectionValid.error == 'OPTION_ERROR_MIN'">Debe seleccionar al menos {{option.selectionValid.params.min}} opcion</span>
                </div>

                <div data-ng-if="option.config.min == 1 && option.config.max == 1">

                  <label class="item item-radio" data-ng-repeat="item in option.items" data-ng-click="selectOptionAndRecalculatePrice(option, item)">
                    <input type="radio" name="groupOptions_{{$parent.$index}}" />
                    <div class="item-content">
                      {{ item.description }} <span data-ng-if="item.price > 0">(+ {{ item.price | centsToMoney | currency }} )</span>
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>

                </div>



                <div data-ng-if="!(option.config.min == 1 && option.config.max == 1)">

                  <li class="item item-checkbox" data-ng-repeat="item in option.items">
                    <label class="checkbox" data-ng-click="selectOptionAndRecalculatePrice(option, item)">
                      <input type="checkbox" name="prod_option"/>
                    </label>
                    {{ item.description }} <span data-ng-if="item.price > 0">(+ {{ item.price | centsToMoney | currency}} )</span>
                  </li>


                </div>

                <br/>
                <br/>



              </div>

              <div class="button-bar">
                <a class="button" data-ng-click="isSelectionValid()">CONFIRMAR</a>
              </div>

            </div>
        </div>