<div class="modal">
    <ion-header-bar>
       <h1 class="title">Confirmacion</h1>
    </ion-header-bar>
    <ion-content>

        <div class="list card">
            <div class="item item-avatar">
                <img src="">
                <h2>Pizza {{pizza.desc}}</h2>
                <p>{{pizza.size}} {{pizza.dough}}</p>
                <div>{{pizza.totalPrice * pizza.qty | centsToMoney | currency}}</div>
            </div>
            <div class="item item-avatar">
                <qty ng-model="pizza"></qty>
            </div>

            <div class="item item-body">
                <div class="button-bar" data-ng-if="pizza.cartItemKey">
                    <a class="button" data-ng-click="order.add(pizza)">Actualizar Mi Pedido</a>
                </div>
                <div class="button-bar" data-ng-if="!pizza.cartItemKey">
                    <a class="button" data-ng-click="order.add(pizza)">Agregar a Mi Pedido</a>
                    <a class="button" data-ng-click="order.edit(pizza)">Modificar</a>
                </div>
                <cancel-selection></cancel-selection>
            </div>
        </div>
    </ion-content>
</div>