<div class="modal">
    <ion-header-bar>
       <h1 class="title">Confirmacion</h1>
    </ion-header-bar>
    <ion-content>

        <div class="list card">
            <div class="item item-avatar">
                <img src="">
                <h2>Bebida {{bebidaSelection.getDescription()}}</h2>
                <p>{{bebidaSelection.size}} {{bebidaSelection.option}}</p>
                <div>{{bebidaSelection.totalPrice * bebidaSelection.qty | centsToMoney | currency}}</div>
            </div>
            <div class="item item-avatar">
                <qty ng-model="bebidaSelection" min="1"></qty>
            </div>

            <div class="item item-body">
                <div class="button-bar" data-ng-if="bebidaSelection.cartItemKey">
                    <a class="button" data-ng-click="order.add(bebidaSelection)"
                       data-ng-disabled="order.isMinAllowed()">Actualizar Mi Pedido</a>
                </div>
                <div class="button-bar" data-ng-if="!bebidaSelection.cartItemKey">
                    <a class="button" data-ng-click="order.add(bebidaSelection)">Agregar a Mi Pedido</a>
                </div>
                <cancel-selection reset-model="bebidaSelection"></cancel-selection>
            </div>
        </div>
    </ion-content>
</div>