<div class="modal">
    <ion-header-bar>
       <h1 class="title">Confirmacion</h1>
    </ion-header-bar>
    <ion-content>

        <div class="list card">
          <div class="item item-avatar">
              <img src="">
              <h2>Empanada {{empanada.desc}}</h2>
              <p>{{empanada.type}}</p>
              <div>{{empanada.totalPrice * empanada.qty | centsToMoney | currency}}</div>
          </div>

          <div class="item item-avatar">

            <button
                    class="button"
                    data-ng-disabled="empanada.minReached()"
                    data-ng-click="empanada.updateQty(-1)"
                    >
              <i class="icon ion-minus"></i>
            </button>

            <button class="button button-clear button-positive" data-ng-disabled="true">
              {{empanada.qty}}
            </button>

            <button class="button"
                    data-ng-disabled="empanada.maxReached()"
                    data-ng-click="empanada.updateQty(+1)"
                    >
              <i class="icon ion-plus-round"></i>
            </button>

          </div>


          <div class="item item-body">
              <div class="button-bar">
                  <a class="button" data-ng-click="order.add(empanada)">Agregar a Mi Pedido</a>
                  <a class="button" data-ng-click="order.edit(empanada)">Modificar</a>
              </div>
              <cancel-selection></cancel-selection>
          </div>

        </div>
    </ion-content>
</div>