<div class="item item-divider">
    Empanadas
</div>

<div class="list">

  <div class="item item-divider" style="background-color: #f8f8ff" data-ng-repeat-start="cat in menu">
    <strong>{{cat.desc}}</strong>
  </div>

  <ion-list data-ng-repeat-end>
    <ion-item data-ng-repeat="prod in cat.products" data-ng-click="choose(prod)">
        <strong>{{ prod.desc }}</strong>
        <span>{{ prod.toppings }}</span>
        <span class="text-right">{{ prod.totalPrice | centsToMoney | currency}}</span>
    </ion-item>
  </ion-list>


</div>