    <div class="card" ng-if="cart.length == 0">
        <div class="item item-text-wrap">
            El carrito esta vacio
        </div>
    </div>
    <ion-list>
        <ion-item nav-clear ng-repeat="item in cart">

          {{item.desc}}    </br>
          {{item.totalPrice | centsToMoney | currency}}

          <!-- PIZZAS-------------------->
          <!--<div data-ng-if="item.size">-->
            <!--{{item.size}} - {{item.dough}}-->
          <!--</div>-->
          <!-- PIZZAS-------------------->

          <!-- EMPANADAS----------------->
          <!--<div data-ng-if="item.type.f > 0">-->
            <!--Frita: {{item.type.f}}-->
          <!--</div>-->
          <!--<div data-ng-if="item.type.h > 0">-->
            <!--Al Horno: {{item.type.h}}-->
          <!--</div>-->
          <!-- EMPANADAS----------------->

          <pre>
            {{ item | json }}
          </pre>

        </ion-item>
    </ion-list>