<div class="modal">
    <ion-header-bar>
        <h1 class="title">Metodo de Entrega</h1>
    </ion-header-bar>

    <ion-content>
      <div class="list">
        <label class="item item-radio">
          <input type="radio" name="deliveryOption" data-ng-click="delivery.choose('D')">
          <div class="item-content">
            Delivery
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="deliveryOption" data-ng-click="delivery.choose('R')">
          <div class="item-content">
            Retira en Local
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
    </ion-content>
</div>