<div class="modal">
    <ion-header-bar>
        <h1 class="title">Ingreso de datos</h1>
    </ion-header-bar>


    <ion-content>

      <div class="list">

        <form name="contactDetailsForm">

          <label class="item item-input">
            <input type="text" placeholder="Nombre"
                   data-ng-required="true"
                   data-ng-maxlength="15">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Telefono"
                   data-ng-required="true"
                   data-ng-maxlength="15">
          </label>

          <label class="item item-input">
            <input type="email" placeholder="Email"
                   data-ng-required="true"
                   data-ng-maxlength="30">
          </label>

          <!-- DELIVERY TO HOME REUIRED DATA-->
          <div data-ng-if="deliveryOption == 'D'">

            <label class="item item-input">
              <input type="text" placeholder="Calle"
                     data-ng-required="deliveryOption == 'D'"
                     data-ng-maxlength="20">
            </label>

            <label class="item item-input">
              <input type="number" placeholder="Numero"
                     data-ng-required="deliveryOption == 'D'"
                     ng-maxlength="5">
            </label>

            <label class="item item-input">
              <input type="text" placeholder="Localidad"
                     data-ng-required="deliveryOption == 'D'">
            </label>

          </div>
          <!-- DELIVERY TO HOME REQUIRED DATA-->


          <label class="item item-input">
            <textarea placeholder="Comments"></textarea>
          </label>

          <button class="button button-block button-positive"
                  data-ng-click="contact.place()"
                  data-ng-disabled="contactDetailsForm.$invalid">
            Enviar Pedido
          </button>

        </form>

      </div>


    </ion-content>
</div>