<div class="modal">
  <ion-header-bar>
      <h1 class="title">Empanada {{empanada.desc}}</h1>
  </ion-header-bar>

  <ion-content>

      <!-- CARDDDDDDDDD ------------------------>
      <div class="card">
        <div class="item item-text-wrap">

          <span>Cantidad: {{empanada.qty}}</span>

          <button
                  class="button"
                  data-ng-disabled="empanada.minReached()"
                  data-ng-click="empanada.updateQty(-1)"
                  >
            <i class="icon ion-minus"></i>
          </button>

          <button class="button"
                  data-ng-disabled="empanada.maxReached()"
                  data-ng-click="empanada.updateQty(+1)"
                  >
            <i class="icon ion-plus-round"></i>
          </button>

          <!--<input-->
          <!--class="span3 text-center" type="text"-->
          <!--ng-model="empanada.quantity"-->
          <!--ng-change=""/>-->
          <!--------------------------->

        </div>
      </div>
      <!-- CARDDDDDDDDD ------------------------>


      <pre>
        {{ empanada | json }}
      </pre>

      <button class="button button-positive"
              data-ng-click="type.choose()">
        CONTINUAR
      </button>

      <cancel-selection></cancel-selection>

  </ion-content>
</div>