<div class="modal">
    <ion-header-bar>
        <h1 class="title">Empanada {{empanada.desc}}</h1>
    </ion-header-bar>
    <ion-content>

      <ul class="list">
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox"
                   data-ng-true-value="F"
                    data-ng-model="empanada.type.f">
          </label>
          Souffle
          <br/>
          <span>Precio: {{empanada.price[0]}}</span>

          <span data-ng-if="empanada.type.f == 'F'">
            <label class="item item-input">
              <span class="input-label">Cantidad</span>
              <input type="number" data-ng-model="empanada.f.qty"/>
            </label>
          </span>
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox"
                   data-ng-true-value="H"
                   data-ng-model="empanada.type.h">
          </label>
          Horno
          <br/>
          <span>Precio: {{empanada.price[1]}}</span>

          <span data-ng-if="empanada.type.h == 'H'">
            <label class="item item-input">
              <span class="input-label">Cantidad</span>
              <input type="number" data-ng-model="empanada.h.qty"/>
            </label>
          </span>
        </li>
      </ul>

      <button class="button button-positive" data-ng-click="type.choose(empanada.f.qty, empanada.h.qty)">
        CONTINUAR
      </button>

    </ion-content>
</div>