<div class="modal">
  <ion-header-bar>
      <h1 class="title">Empanada {{empanada.desc}}</h1>
  </ion-header-bar>

  <ion-content>


    <div class="errors" data-ng-if="empanadaSelectionForm.submitted && empanadaSelectionForm.$invalid">
      ERRORES:
      <ul>
        <li data-ng-show="empanadaSelectionForm.$error.missingQty">Debe seleccionar al menos una unidad</li>
      </ul>
    </div>


    <form name="empanadaSelectionForm" validate-empanada-selection data-ng-model="empanada" novalidate>

      <ul class="list" >
        <li class="item">
          Souffle
          <br/>
          <span>Precio: {{empanada.price[0]}}</span>

          <label class="item item-input">
            <span class="input-label">Cantidad</span>
            <input type="number" data-ng-model="empanada.type.f" min="0"/>
          </label>
        </li>

        <li class="item">
          Horno
          <br/>
          <span>Precio: {{empanada.price[1]}}</span>

          <label class="item item-input">
            <span class="input-label">Cantidad</span>
            <input type="number" data-ng-model="empanada.type.h" min="0"/>
          </label>
        </li>
      </ul>

      <button class="button button-positive"
              data-ng-click="empanadaSelectionForm.submitted = 'true'; type.choose(empanada.type.f, empanada.type.h, empanadaSelectionForm.$invalid)"
              data-ng-disabled="empanadaSelectionForm.$invalid">
        CONTINUAR
      </button>

      <cancel-selection></cancel-selection>

    </form>
  </ion-content>
</div>