<div class="modal">
    <ion-header-bar>
        <h1 class="title">Pizza {{pizza.desc}} {{pizza.size}} {{pizza.dough}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-radio">
                <input type="radio" value="individual" ng-click="size.choose('individual')" ng-model="pizza.size">
                <div class="item-content">
                    Individual
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" value="chica" ng-click="size.choose('chica')" ng-model="pizza.size">
                <div class="item-content">
                    Chica
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" value="grande" ng-click="size.choose('grande')" ng-model="pizza.size">
                <div class="item-content">
                    Grande
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
        <cancel-selection></cancel-selection>
    </ion-content>
</div>