<ion-view title="Menu">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">

      <div class="list" data-ng-controller="StoreCtrl">

        <a ng-repeat="store in stores" class="item item-icon-left" href="#/app/menu/{{store.id}}">
          <i class="icon icon-home"></i>

          <strong>{{store.name}}</strong>
          <br/>
          {{ store.address }}
          <br/>
          {{ store.tel }}
        </a>

      </div>

    </ion-content>
</ion-view>
